<h1>{{building.Address}}</h1>

<p>ID: {{building.BuildingID}}</p>

<h2>Reviews</h2>
{{#each reviews}}
  <p>{{this.ReviewText}} ({{this.Rating}})</p>
{{/each}}

<h2>Violations</h2>
{{#each violations}}
  <p>{{this.NOVDescription}} - {{this.ViolationStatus}}</p>
{{/each}}

<h2>Comments</h2>
{{#each comments}}
  <p>{{this.CommentText}}</p>
{{/each}}