<h1>Error</h1>

<p>{{error}}</p>

{{#if signInLink}}
  <p>
    <a href="{{signInLink}}">Sign In</a>
  </p>
{{/if}}

{{#if backLink}}
  <p>
    <a href="{{backLink}}">
      {{#if backLinkText}}
        {{backLinkText}}
      {{else}}
        Return to previous page
      {{/if}}
    </a>
  </p>
{{/if}}