<h1>Notifications</h1>

<p><a href='/profile/edit'>Adjust notification preferences</a></p>

{{#if notifications.length}}
  <form action='/notifications/clear' method='POST'>
    <button type='submit'>Clear all</button>
  </form>

  <ul class='notifications-list'>
    {{#each notifications}}
      <li>
        {{#if this.building}}
          <a href='/building/{{this.building.BIN}}'>{{this.building.address}}</a>
        {{else}}
          <span class="note">(this building was removed)</span>
        {{/if}}

        {{#if this.violation}}
          <span class="label">Class {{this.violation.class}}</span>:
          {{this.violation.description}}
          <span class="note">({{this.violation.currentStatus}})</span>
        {{/if}}

        <br >
        <span class="small-text">{{this.createdAt}}</span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No notifications yet. Favorite a building to get notified when new violations are filed.</p>
{{/if}}
