<h1>{{#if isEditing}}Edit Profile{{else}}Register{{/if}}</h1>

{{#if error}}
  <p class='error'>{{error}}</p>
{{/if}}

<form action='{{#if action}}{{action}}{{else}}/register{{/if}}' method='POST'>
  <label for='firstName'>First Name:</label>
  <input type='text' name='firstName' id='firstName' value='{{firstName}}' required >

  <br >

  <label for='lastName'>Last Name:</label>
  <input type='text' name='lastName' id='lastName' value='{{lastName}}' required >

  <br >

  <label for='email'>Email:</label>
  <input type='email' name='email' id='email' value='{{email}}' required >

  <br >

  <label for='password'>Password:</label>
  <input type='password' name='password' id='password' {{#unless isEditing}}required{{/unless}} >

  {{#if isEditing}}
    <p class='message'>Leave this blank if you don't want to change it.</p>

    <fieldset>
      <legend>Notifications</legend>
      <label>
        <input type='checkbox' name='notificationPrefs' value='email' {{#if prefEmail}}checked{{/if}} >
        Email
      </label>
      <p class='message'>
        Email notifications require a Resend API key. Create one at
        <a href='https://resend.com/api-keys' target='_blank' rel='noopener noreferrer'>resend.com/api-keys</a>
        and add it to your <code>.env</code> as <code>RESEND_API_KEY</code>.
      </p>
      <label>
        <input type='checkbox' name='notificationPrefs' value='inApp' {{#if prefInApp}}checked{{/if}} >
        In-app
      </label>
    </fieldset>
  {{/if}}

  <br >

  {{#if isEditing}}
    <div style='display: inline-flex; gap: 10px; flex-wrap: wrap; align-items: center;'>
      <button type='submit'>Save Changes</button>
      <button
        type='submit'
        form='deleteAccountForm'
        style='background-color: darkred; border-color: darkred;'
        onclick='return confirm("Delete your account permanently? This cannot be undone.");'
      >
        Delete Account
      </button>
    </div>
  {{else}}
    <button type='submit'>Register</button>
  {{/if}}
</form>

{{#if isEditing}}
  <form id='deleteAccountForm' action='/profile/delete' method='POST'></form>
  <p>
    <a href='/profile'>Return to profile</a>
  </p>
{{else}}
  <p>
    Already have an account?
    <a href='/signin'>Sign in here</a>
  </p>
  <p>
    <a href='/'>Home</a>
  </p>
{{/if}}