<a href='/' class='back-link'>← Search another building</a>

<h1>Search Results</h1>

{{#if error}}
  <p class='error'>{{error}}</p>
{{/if}}

{{#if query}}
  <p>Showing results for: <span class="label">{{query}}</span></p>
{{/if}}

<hr >

{{#if results.length}}

  <div class='results-container'>
    {{#each results}}
      <div class='result-card'>

        <h2>{{this.address}}</h2>

        <p><span class="label">BIN:</span> {{this.BIN}}</p>

        <p><span class="label">Rating:</span>
          {{#if this.avgRating}}
            {{this.avgRating}}
          {{else}}
            N/A
          {{/if}}
        </p>

        <p><span class="label">Reviews:</span> {{this.reviewsCount}}</p>

        <a href='/building/{{this.BIN}}' class='view-btn'>
          View Building
        </a>

      </div>
    {{/each}}
  </div>

{{else}}
  {{#unless error}}
    <p>No buildings found matching your search.</p>
  {{/unless}}
{{/if}}